*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

.hero-bg{
    background-image: url("images/hero-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    width: 100%;
    padding:12px 36px;

 
}

.hero-overlay{
    background: #000000;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.83) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.74) 100%);
}

.my-font{
    font-family: 'roboto',sans-serif !important;
    color: white !important;
}

.fs-7{
    font-size: 14px;
}

.fs-8{
    font-size: 12px;
}

.hero-bg-nav{
    background-color: transparent !important;
    
}

.bg-body-tertiary{
 background-color: aqua !important;
}

.gray-color{
    color: rgb(197, 195, 195) !important;
}

.white-active{
    color: white !important;
}

.nav-icons{
    color: white !important;

    
    
}

.fa-magnifying-glass{
border-left: 2px solid gray !important;
    border-right: 2px solid gray !important;
}

.color-orange{
    color: orange ;
}

.hero-title-line p{
    font-size: 14px !important;
}


.hero-title-line h2{
    font-size: 64px !important;
}

.hero-title-line h2::after{
     position: absolute;
     content: "";
     left: 0;
     bottom: -10px;
     width: 30px;
     height: 2px;
     background-color: orange;
    
}

 .hero-btn button{
    background-color: orange !important;

}

.hero-feature_part_bg{
    background-color: #151818;
}


.btn_circle{
    width: 35px;
    height: 35px;
}

.previous-btnn{
    content: "" !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    left: 15px !important;
}

.next-btnn{
    content: "" !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    right: 15px !important;
}


.destination-details{
    background-image: url("images/image-1.png") !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    
   
}

.destination-map{
    background-image: url("images/image-2.png") !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    
   
}


.destination-map .location-bg, .card-details .location-bg {
    width: 35px;
    height: 35px;
    top: 20px;
    right: 20px;
}
.floating-card{
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
     
}

.floating-card-box .box-image img,.floating-btn-prev .fa-angle-left{
    width: 35px !important;
    height: 35px !important;
}

.floating-card-box .box-image p{
    font-size: 8px !important;
}

.right-content-box .location-background{
    width: 40px;
    height: 40px;
}

.destination-right-content-box{
    bottom: 10px;
    left: 0;
    right: 0;
}