*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

.hero-bg{
    background-image: url("https://images.pexels.com/photos/20739912/pexels-photo-20739912.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    width: 100%;
    height: 600px; 
}

.hero-overlay{
    background: #000000;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.83) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.74) 100%);
}

.my-font{
    font-family: 'roboto',sans-serif !important;
    color: white !important;
}

.hero-bg-nav{
    background-color: transparent !important;
    
}

.bg-body-tertiary{
 background-color: aqua !important;
}

.gray-color{
    color: rgb(197, 195, 195) !important;
}

.white-active{
    color: white !important;
}

.nav-icons{
    color: white !important;

    
    
}

.fa-magnifying-glass{
border-left: 2px solid gray !important;
    border-right: 2px solid gray !important;
}

.color-orange{
    color: orange ;
}

.hero-title-line p{
    font-size: 14px !important;
}

.hero-title-line h2::after{
     position: absolute;
     content: "";
     left: 0;
     bottom: -10px;
     width: 30px;
     height: 2px;
     background-color: orange;
    
}